.transparent-white{
    background-color: rgba(255, 255, 255, 0.6); /* 0.6 for 60% opacity */
}

/* Stile per la griglia delle card */
.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra le card nella riga */
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    max-width: 320px;
    margin: 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Immagini nelle card */
.card-img-top {
    width: 100%; /* Occupa tutta la larghezza del contenitore */
    height: 220px; /* Imposta un'altezza fissa per tutte le immagini */
    object-fit: contain; /* Mantiene il rapporto dell'immagine senza tagliarla */
    display: block;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    position: relative;
    background-color: transparent; /* Rimuove lo sfondo grigio */
}

/* Adattamenti per dispositivi piccoli */
@media (max-width: 576px) {
    .card-img-top {
        height: 180px; /* Altezza ridotta su schermi più piccoli */
    }
}

/* Corpo della card */
.card-body {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Titolo */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Testo descrizione */
.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

/* Pulsante */
.btn-primary {
    background-color: #6f42c1; /* Viola */
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #563d7c; /* Viola più scuro */
}

/* Adattamento per la griglia */
.col-12,
.col-sm-6,
.col-md-6,
.col-lg-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Altezza uniforme delle card */
.card h3,
.card p {
    margin-bottom: 10px;
}


/* Stile generale per il carosello */
.carousel-item {
    height: 500px; /* Altezza aumentata per desktop */
}

.carousel-item img {
    object-fit: contain; /* Mantiene l'intera immagine visibile senza tagliarla */
    width: 100%; /* L'immagine occupa tutta la larghezza */
    height: 100%; /* L'immagine occupa tutta l'altezza */
}

/* Aumentiamo ulteriormente la dimensione su schermi desktop larghi */
@media (min-width: 1200px) {
    .carousel-item {
        height: 600px; /* Altezza maggiore per schermi molto larghi */
    }

    .carousel-item img {
        width: 110%; /* Aumentiamo leggermente la larghezza */
    }
}

/* Su schermi più piccoli (tablet e smartphone), altezza ridotta */
@media (max-width: 768px) {
    .carousel-item {
        height: 300px; /* Altezza ridotta per tablet */
    }

    .carousel-item img {
        width: 100%; /* Manteniamo la larghezza al 100% */
        height: 100%;
    }
}

/* Su smartphone */
@media (max-width: 576px) {
    .carousel-item {
        height: 250px; /* Altezza più piccola per smartphone */
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
    }
}

#search-suggestions {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    width: calc(100% - 30px);
}

#search-suggestions .list-group-item {
    cursor: pointer;
}

#search-suggestions .list-group-item:hover {
    background-color: #f8f9fa;
}