<li class="list-group-item border-bottom border-secondary">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <img src="{{ITEM_IMAGE}}" alt="Item 1" class="img-thumbnail ask-detail-btn" data-id="{{ITEM_ID}}" style="width: 80px; height: 80px; margin-right: 10px;">
            <div>
                <span>x{{ITEM_QUANTITY}} <strong class="ask-detail-btn" data-id="{{ITEM_ID}}">{{ITEM_NAME}}</strong></span>
            </div>
        </div>
        <div class="d-flex flex-column align-items-start align-items-md-end">
            <span>€{{ITEM_PRICE}}</span>
            <button class="btn btn-secondary btn-sm mt-2 add-to-cart-btn" data-id="{{ITEM_ID}}">Acquista di nuovo</button>
        </div>
    </div>
</li>